@model CoreCodedChatbot.Library.Models.View.PlaylistBrowserSource

@{
    ViewBag.Title = "Current Playlist";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/StreamList.css" />
}

<div id="modalContainer"></div>

@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome @Model.TwitchUser.Username!</h3>
}

<div id="currentSong">
    @{
        Html.RenderPartial("Partials/List/CurrentSong", Model.CurrentSong);
    }
</div>
<div class="queueWrapper">
    @{
        Html.RenderPartial("Partials/List/Playlist", Model);
    }
</div>

<script>

    var chatConnection = new signalR.HubConnectionBuilder()
        .withUrl("/SongList")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    chatConnection.onClosed = e => {
        console.log('connection closed');
    };
    chatConnection.on('Heartbeat',
        () => {
            console.log('ping');
        });

    chatConnection.on('SendAll',
        (currentSong, regularList, vipList) => {
            $("#currentSong").empty();
            var data = JSON.stringify(currentSong);
            $.ajax({
                url: '@Url.Action("RenderCurrentSong", "Chatbot")',
                type: "POST",
                data: data,
                contentType: "application/json",
                success: function(html) {
                    $("#currentSong").html(html);
                }
            });

            $("#regularQueue").empty();
            data = JSON.stringify( regularList );
            $.ajax({
                url: '@Url.Action("RenderRegularList", "Chatbot")',
                type: "POST",
                data: data,
                contentType: "application/json",
                success: function(html) {
                    $("#regularQueue").html(html);
                }
            });

            $("#vipQueue").empty();
            data = JSON.stringify(vipList);
            $.ajax({
                url: '@Url.Action("RenderVipList", "Chatbot")',
                type: "POST",
                data: data,
                contentType: "application/json",
                success: function(html) {
                    $("#vipQueue").html(html);
                }
            });

            console.log('received message');
        });

    chatConnection.start().catch(err => {
        console.log('connection error');
    });

    function showDeleteModal(isCurrentSong) {
        $("#modalContainer").empty();
        var songId = JSON.stringify(event.target.id);
        if (isCurrentSong) {
            $.ajax({
                url: '@Url.Action("RenderRemoveCurrentSongModal", "Chatbot")',
                type: "POST",
                data: songId,
                contentType: "application/json",
                success: function(html) {
                    $("#modalContainer").html(html);
                    $("#deleteModal").modal('show');
                }
            });
        } else {
            $.ajax({
                url: '@Url.Action("RenderRemoveSongModal", "Chatbot")',
                type: "POST",
                data: songId,
                contentType: "application/json",
                success: function(html) {
                    $("#modalContainer").html(html);
                    $("#deleteModal").modal('show');
                }
            });
        }
    }

</script>
