@model CoreCodedChatbot.Library.Models.Data.PlaylistItem


@{
    var oddOrEvenStyle = Model.isEvenIndex ? "even" : "odd";
    var vipStyle = Model.isVip ? "vipText" : "";
    <div class="request @oddOrEvenStyle">
        <div class="requestBadges">
            <br/>
            @{
                if (ViewContext.ViewBag.UserIsMod)
                {
                    <span id="@Model.songRequestId" class="requestBadge moderatorBadge" onclick="showDeleteModal()"></span>
                }
                if (!Model.isInChat)
                {
                    <span class="requestBadge leftBadge"></span>
                }
            }
        </div>
        <div class="requestData">
            @if (Model.FormattedRequest == null)
            {
                <b class="@vipStyle">Request: </b>
                @Model.songRequestText<br/>
                <b class="@vipStyle">Requested By: </b>
                @Model.songRequester
            }
            else
            {
                <b class="@vipStyle">Song: </b>
                @Model.FormattedRequest.SongName<br/>
                <b class="@vipStyle">Artist: </b>
                @Model.FormattedRequest.SongArtist<br/>
                <b class="@vipStyle">Instrument: </b>
                @Model.FormattedRequest.InstrumentName<br/>
                <b class="@vipStyle">Requested By: </b>
                @Model.songRequester
            }
        </div>
    </div>
}