@model CoreCodedChatbot.Library.Models.Data.PlaylistItem


@{
    var oddOrEvenStyle = Model.isEvenIndex ? "even" : "odd";
    var vipStyle = Model.isVip ? "vipText" : "";
    <div id="@Model.songRequestId" class="request @oddOrEvenStyle">
        <div class="requestBadges">
            <br />
            @{
                if (!Model.isVip && ViewContext.ViewBag.UserHasVip && ViewContext.ViewBag.Username.ToLower() == Model.songRequester.ToLower())
                {
                    <span id="@Model.songRequestId" class="requestBadge promoteSongBadge" data-toggle="tooltip" data-placement="top" title="Promote to VIP" onclick="showPromoteRequestModal(event)"></span>
                }
                if (ViewContext.ViewBag.UserIsMod)
                {
                    <span id="@Model.songRequestId" 
                          class="requestBadge @(Model.isInDrive ? "inDriveBadge" : "notInDriveBadge")" 
                          title="@(Model.isInDrive ? "Request is in drive" : "Add Request to Drive")"
                          onclick="@(Model.isInDrive ? string.Empty : "showAddDriveModal(event)")"
                          data-toggle="tooltip" data-placement="top"></span>
                }
                if (ViewContext.ViewBag.UserIsMod || ViewContext.ViewBag.Username?.ToLower() ?? string.Empty == Model.songRequester.ToLower())
                {
                    <span id="@Model.songRequestId" class="requestBadge editSongBadge" data-toggle="tooltip" data-placement="top" title="Edit Request" onclick="showEditRequestModal(event)"></span>
                    <span id="@Model.songRequestId" class="requestBadge removeSongBadge" data-toggle="tooltip" data-placement="top" title="Remove Request" onclick="showDeleteModal(event)"></span>
                }
                if (!Model.isInChat)
                {
                    <span class="requestBadge leftBadge" data-toggle="tooltip" data-placement="top" title="User has left chat"></span>
                }
            }
        </div>
        <div class="requestData">
            @if (Model.FormattedRequest == null)
            {
                <b class="@vipStyle">Request: </b>
                @Model.songRequestText<br/>
                <b class="@vipStyle">Requested By: </b>
                @Model.songRequester
            }
            else
            {
                <b class="@vipStyle">Song: </b>
                @Model.FormattedRequest.SongName<br/>
                <b class="@vipStyle">Artist: </b>
                @Model.FormattedRequest.SongArtist<br/>
                <b class="@vipStyle">Instrument: </b>
                @Model.FormattedRequest.InstrumentName<br/>
                <b class="@vipStyle">Requested By: </b>
                @Model.songRequester
            }
        </div>
    </div>
}