@model CoreCodedChatbot.Web.ViewModels.Merch.MerchLandingViewModel

@{
    ViewBag.Title = "CodedGhost Merch";
    Layout = "_Layout";
}

<div class="col-12">
    <div class="align-content-center">
        <form action="@Url.Action("Search", "Merch")" method="post">
            @Html.EditorFor(m => m.SearchTerms)
            <button type="submit">Search</button>
        </form>

        @foreach (var product in Model.SyncVariants)
        {
            <h2>@product.Result.Sync_Product.Name</h2>

            foreach (var variant in product.Result.Sync_Variants)
            {
                <h3>@variant.Name - @variant.Retail_Price @variant.Currency</h3>

                {
                    var previewFile = variant.Files.FirstOrDefault(f => f.Type == "preview");

                    <img src="@previewFile.Thumbnail_Url" >
                }


            }

            <br />
        }
    </div>
</div>