@model CoreCodedChatbot.Web.ViewModels.Merch.MerchLandingViewModel

@{
    ViewBag.Title = "CodedGhost Merch";
    Layout = "_Layout";
}

<div class="col-12">
    <div class="align-content-center">
        <form action="@Url.Action("Search", "Merch")" method="post">
            @Html.EditorFor(m => m.SearchTerms)
            <button type="submit">Search</button>
        </form>

        @foreach (var product in Model.SyncVariants)
        {
            <h2>@Html.ActionLink(product.Result.Sync_Product.Name, "ProductPage", new { id = product.Result.Sync_Product.Id })</h2>

            {
                var previewFile = product.Result.Sync_Variants.FirstOrDefault()?.Files?.FirstOrDefault(f => f.Type == "preview");

                <img src="@previewFile.Thumbnail_Url" alt="@product.Result.Sync_Product.Name Image">
            }

            <br />
        }
    </div>
</div>